@font-face {
  font-family: "Phosphor";
  src: url("Phosphor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.ph {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Phosphor" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ph.ph-arrow-down:before {
  content: "\e03e";
}
.ph.ph-arrow-right:before {
  content: "\e06c";
}
.ph.ph-arrow-up:before {
  content: "\e08e";
}
.ph.ph-caret-down:before {
  content: "\e136";
}
.ph.ph-caret-right:before {
  content: "\e13a";
}
.ph.ph-check:before {
  content: "\e182";
}
.ph.ph-download-simple:before {
  content: "\e20c";
}
.ph.ph-envelope-simple:before {
  content: "\e218";
}
.ph.ph-file-arrow-down:before {
  content: "\e232";
}
.ph.ph-folder-open:before {
  content: "\e256";
}
.ph.ph-game-controller:before {
  content: "\e26e";
}
.ph.ph-house:before {
  content: "\e2c2";
}
.ph.ph-house-simple:before {
  content: "\e2c6";
}
.ph.ph-linkedin-logo:before {
  content: "\e2ee";
}
.ph.ph-list:before {
  content: "\e2f0";
}
.ph.ph-moon:before {
  content: "\e330";
}
.ph.ph-paper-plane-tilt:before {
  content: "\e398";
}
.ph.ph-phone:before {
  content: "\e3b8";
}
.ph.ph-plus-circle:before {
  content: "\e3d6";
}
.ph.ph-share-network:before {
  content: "\e408";
}
.ph.ph-squares-four:before {
  content: "\e464";
}
.ph.ph-sun:before {
  content: "\e472";
}
.ph.ph-terminal-window:before {
  content: "\eae8";
}
.ph.ph-user-circle:before {
  content: "\e4c4";
}
.ph.ph-x-square:before {
  content: "\e4fa";
}
